[submodule "themes/castanet"]
	path = themes/castanet
	url = https://github.com/marbletracks/castanet.git
[submodule "scripts/go"]
	path = scripts/go
	url = https://github.com/marbletracks/go-get-video-durations.git
